      button {/*ボタン固定*/
            position: fixed;
			z-index:3;
        }

        table {
            -webkit-text-size-adjust: 100%;
            font-size: 1rem;
            border-collapse: separate;
            border-spacing: 5px;
            width: 100%;
        }
                            
        table thead {
			position:sticky;
            left: 0px;
            right: 0px;
        }

        table th,table td {
            border-radius: 5px;
            text-align: center;
            adding: 10px 0;

        }

        table th {
            background-color: #c79852;
            color: white;
            border: solid 1px #927141;
            
        }

        table td {
            background-color: #e4d4bc;
            border: solid 1px #af9d85;
         
        }

        td#st,td#en {/*始終*/
            background-color: #d4d4fc;
        }

        td#pr,td#ne {/*現在地*/
            background-color: #f4a4fc;
        }

        td#rare {/*回送・試運転*/
            background-color: #FF0000;
			color:#FFFFFF;
        }

		@media (width <= 600px){/*スマホのとき*/
			body{
				font-size:1rem;
			}
			button {/*ボタンサイズ拡大*/
				width:10em;
				height:5em;
				opacity:50%;
			}
			table {/*文字サイズ拡大*/
				font-size: 1.25rem;
			}
			col#stcol{
				/*visibility:collapse;
				/* display: unset; */
			}
			table th,table td {
	            border-radius: 2px;
	            text-align: center;
	            adding: 10px 0;
	            width: 0px;
				width: auto;
		        
			}
		    th#st,td#st{/*始発非表示*/
	            font-size:0px;
				width:0px;
	        }

		}
